/* #EDFF71 light-green */
/* #757457 green */ 
/* #EC4E20 orange */
/* #EFBCD5 PINK */ 
/* #592941 dark purple */


/* title slide */ 

.title-slide {
  background-color: #EDFF71;
}

.title-slide h1 {
  font-family: 'Courier New', sans serif;
  color: #592941;
  font-size: 2.7em;
}

.title-slide h3 {
  font-family: 'Tahoma', sans serif;
  color: #592941;
  font-size: 2em;
}

/* body */ 

body {
  font-family: 'Tahoma', sans serif;
  font-weight: normal;
  color: #592941;
}

h1, h2, h3 {
  font-family: 'Tahoma', sans serif;
  font-weight: 600;
  color: #592941;
}


/* special */ 

.inverse{
  background-color: #592941;
  color: #EDFF71;
  font-size: 1.5em;
}

.important{
  font-family: 'Courier New', serif;
  float: left;
  text-align: left;
  font-style: 'bold';
  font-weight: 150%;
  font-size: 2em;
}

.tip{
  font-style: 'bold';
  font-size: 150%;
  text-decoration: underline;
  text-decoration-color: #EFBCD5;
  padding-bottom: 0px;
}

.footnote{
  justify-content: bottom;
  font-size: .8em;
  margin-bottom: -50px;
  margin-left: -50px;
}

.link{
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #EC4E20;
}

/* two columns */

.left-column{
  width: 45%;
  float: left;
}

.right-column{
  width: 50%;
  float: right;
}

/* three columns */

.left-col{
  width: 33%;
  margin-left: -50px;
  float: left;
}

.span-col{
  width: 66%;
  float: right;
}

/* two rows */

.top-row{
  height: 50%;
  float: top;
}

.bottom-row{
  height: 45%;
  float: bottom;
  margin-top: -75px;
}


/* special format */

.top-right-corner{
  float: right;
  margin-top: -80px;
}

.full-page{
  float: left;
  margin-top: -50px;
}

.full-page2{
  float: left;
  margin-top: -50px;
  margin-bottom: -4000px;
}
